<h1> Edit a Place </h1>
<br>
<form action=<%="http://localhost:3000/places/#{@place.id}/update"%>>
	Title:<br>
	<input type="text" name="title" value="<%= @place.title %>" size="100">
	<br>
	Photo URL:<br>
	<input type="text" name="photo" value="<%= @place.photo %>" size="100">
	<br>	
	Price:<br>
	<input type="text" name="price" value=<%=@place.price/100.0%> size="25">
	<br>	
	Description:<br>
	<textarea name="description" rows="6" cols="100"><%= @place.description %></textarea>
	<br><br>
	<input type="submit"> 
</form>