<h1> Edit a Place </h1>
<br>
<form action=<%="http://localhost:3000/places/#{@place.id}/update"%>>
	Title:<br>
	<input type="text" name="title" value="<%= @place.title %>">
	<br>
	Photo URL:<br>
	<input type="text" name="photo" value="<%= @place.photo %>">
	<br>	
	Price:<br>
	<input type="number" name="price" value=<%=@place.price/100.0%>>
	<br>	
	Description:<br>
	<input type="text" name="description" value="<%= @place.description %>">
	<br><br>
	<input type="submit"> 
</form>